body {
	background-color: #919191FF;
	color: #000;
	
}

h2 {
	font-size: 36px;
}



#map {
	text-align: center;
	height: 600px;
	width: 600px;
	border: 7px groove #0905;
}

.footer {
	position: relative;
	top: -150;
	left: 52%;
}
#footer {
	text-align: center;
	width: 40%;
	border: 7px ridge #0906;
}

.nav {
	float: right;
	font-size: 28px;
	display: block;
	clear: both;
	margin-top: 20%;
	margin-right: 25%;
	border: 7px double;
}

.nav button {
	height: 35px;
	width: 50px;
}