<html>
<head>
	<meta charset="UTF-8">
	<title>Events</title>
</head>
<body>
	<h1>Magic Events</h1>
	<section id="Thur">
		<h2>Thursdays</h2>
		<h4>MTG - Commander Casual</h4>
		<p id="time">6pm - 10pm</p>
		<p id="context">Bring your Commander deck and come play with Us!</p>
		<p id="context">These are free events</p>
		<a href="">**link to rules**</a>
	</section>
	<section id="Fri">
		<h2>Fridays</h2>
		<h4>MTG - FNM: Booster Draft</h4>
		<p id="time">6pm - 11pm</p>
		<p id="context">Draft starts a <b>7pm SHARP</b> but please get here early to get signed up and settled. These can get <b>VERY</b> full and sometimes we will hit full capacity</p><br>
		<p>Booster draft tournament of the latest sets with prozes!</p>
		<a href="">**link to rules**</a>
	</section>
	<section id="Sat">
		<h2>Saturdays</h2>
		<h4>MTG - Free Play</h4>
		<p id="time">12:30pm - 6pm</p>
		<p id="context">Bring a deck and test it against others! This is free and just for fun.</p>
	</section>
</body>
</html>