<html>
<head>
	<meta charset="UTF-8">
	<title>Mill Geek Comics</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>
<body>
	<main class='main'>
		<article>
			<img src="{% static 'img/millgeeklogo.png' %}" alt="">
			<div class="topNav">
				<a href="{% url 'home:index' %}">Geek Home</a>
				<a href="#">Cast Us</a>
				<a href="{% url 'about:usGeeks' %}">Us Geek</a>
				<a href="#">Events</a>
				<a href="{% url 'shop:product_list' %}">Ye Merchant Shope</a>
			</div>
			<div id="logreg">
				<p>Log into your geek page <a href="{% url 'log_reg:logPage' %}">Here</a></p>
				<p></p>
			</div>
		</article>
		<section class="rss-feed">
			<div id="widgetmain" style="text-align: center; overflow-y:auto; overflow-x:hidden; width:850px; background-color:#bababa; border:5px ridge #333333;">
				<div id="rsswidget" style="height:500px;">
					<iframe src="http://us1.rssfeedwidget.com/getrss.php?time=1512622485821&amp;x=https%3A%2F%2Fmagic.wizards.com%2Fen%2Frss%2Frss.xml&amp;w=850&amp;h=500&amp;bc=333333&amp;bw=1&amp;bgc=transparent&amp;m=20&amp;it=false&amp;t=(default)&amp;tc=333333&amp;ts=15&amp;tb=transparent&amp;il=true&amp;lc=0000FF&amp;ls=14&amp;lb=false&amp;id=true&amp;dc=333333&amp;ds=14&amp;idt=false&amp;dtc=284F2D&amp;dts=12" border="0" hspace="0" vspace="0" frameborder="no" marginwidth="0" marginheight="0" style="border:0; padding:0; margin:0; width:850px; height:500px;" id="rssOutput">Reading RSS Feed ...</iframe>
				</div>
				<div style="text-align:right; margin-bottom:0; border-top:1px solid #333333;" id="widgetbottom">
					<span style="font-size:70%"><a href="http://www.rssfeedwidget.com">rss feed widget</a>&nbsp;</span><br>
				</div>
			</div>
		</section>
		
		<article class="footer">
			
				<a id="link" href="#">Information</a>
				<a id="link" href="#">Location</a>
				<a id="link" href="#">Company</a>
			
				<a id="link" href="#">Welcome</a>
				<a id="link" href="#">Area Map</a>
				<a id="link" href="#">About Us</a>
			
				<a id="link" href="#">Schedule</a>
				<a id="link" href="#">Address</a>
				<a id="link" href="#">Terms</a>
				<a id="link" href="#">Contact Us</a>
				<h3 id="digits">(425) 415-6666</h3>
			
		</article>
	</main>
</body>
</html>