<html>
<head>
	<meta charset="UTF-8">
	<title>Mill Geek Comics</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>
<body>
	<main class='main'>
		<article>
			<img src="{% static 'img/millgeeklogo.png' %}" alt="">
			<div class="topNav">
				<a href="{% url 'home:index' %}">Geek Home</a>
				<a href="#">Cast Us</a>
				<a href="{% url 'about:usGeeks' %}">Us Geek</a>
				<a href="#">Events</a>
				<a href="{% url 'shop:product_list' %}">Ye Merchant Shope</a>
			</div>
			<p>Are you a member of our Secret Club Yet?</p>
			<p>Register <a href="{% url 'log_reg:register' %}">here</a></p>
			<p>Login <a href="{% url 'log_reg:login' %}">here</a></p>
		</article>
		<article>
			<section class="">
					<p id="subcenter">****Hot new Items****</p>
					<img src="http://www.stevensegallery.com/284/196" alt="">
			</section>
			<section class="right">
			<img src="http://www.stevensegallery.com/g/200/300" alt="">
			</section>
			<section class="left">
				<p id="subleft">****Fantastic News Item*****</p>
				<img src="http://www.stevensegallery.com/200/300" alt="">
			</section>
		</article>
		<section class="center">
			<div id="post">
				{% for post in posts %}
					<h2>
						{{ post.title }}
					</h2>
					<p class="date">
						Published {{ post.publish }} by {{ post.author }}
					</p class="body">
					{{ post.body|truncatewords:30|linebreaks }}
					{% endfor %}
			</div>
		</section>
		<article class="footer">
			
				<a id="link" href="#">Information</a>
				<a id="link" href="#">Location</a>
				<a id="link" href="#">Company</a>
			
				<a id="link" href="#">Welcome</a>
				<a id="link" href="#">Area Map</a>
				<a id="link" href="#">About Us</a>
			
				<a id="link" href="#">Schedule</a>
				<a id="link" href="#">Address</a>
				<a id="link" href="#">Terms</a>
				<a id="link" href="#">Contact Us</a>
				<h3 id="digits">(425) 415-6666</h3>
			
		</article>
	</main>
</body>
</html>