body {
    background: #9A9A9AFF;
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-weight: bolder;
}

h4 {
    color: #ff0000;
}

nav a {
	font-size: 28px;
	font-weight: bolder;
}