body {
	background: linear-gradient(#fff, #000);
	color: #000;
	text-align: center;
	
}

h2 {
	font-size:64px;
}



#map {
	text-align: center;
	height: 700px;
	width: 700px;
	border: 7px groove #0905;
}

.footer {
	position: relative;
	top: -100;
	left: 60%;
}
#footer {
	text-align: center;
	width: 300px; 
	border: 7px ridge #0906;
}

.nav {
	float: right;
	width: 500px;
	font-size: 32px;
	display: block;
	clear: both;
	margin-right: 100px;
	border: 7px double;
	padding: 5px;
}

.nav button {
	height: 45px;
	width: 85px;
}