@font-face {
	font-family: 'Nothing You Could Do', cursive;
	font-family: 'Source Code Pro', monospace;
}

body {
	font-family: 'Nothing You Could Do', cursive;
	background-image: url("img/background1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.navBar ul {
	display: inline;
	text-decoration: none;
}

.navBar ul li {
	display: inline-block;
}

.topNav {
	background-color: #2C6840FF;
	overflow: hidden;
	font-family: 'Source Code Pro', monospace;
}

.topNav a {
	font-family: 'Source Code Pro', monospace;
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topNav a:hover {
	background-color: #ddd;
	color: #000;
}

.topNav a.active {
	background-color: #4CAF50;
	color: #fff;
}