<html>
<head>
	<meta charset="UTF-8">
	<title>Mill Geek Comics</title>
	{% load static %}
	<link rel="stylesheet" href="../static/css/usGeeks.css">
	<script src="../../static/js/aboutscript.js" type="text/javascript"></script>
	<script>
		var nav = document.getElementByClassName('nav-menu')
	</script>
</head>
<body>
	<div id="navButton">
		<img src="../static/css/img/ic_menu_black_24dp_2x.png" alt="">
		<div id="navBox" style="display: none">
			<a href="{% url 'home:index' %}">Geek Home</a>
			<a href="#">Cast Us</a>
			<a href="{% url 'about:usGeeks' %}">Us Geek</a>
			<a href="#">Events</a>
			<a href="{% url 'shop:product_list' %}">Ye Merchant Shope</a>
		</div>
	</div>
	
	<div class="fade"></div>
	<section class="geekWars">
		<div class="crawl">
			<div class="title">
				<h1>Mill Geek Comics</h1>
			</div>
			<p>Mill Geek Comics is a quickly growing comic book, Magic the Gathering and gaming shop serving Mill Creek, Bothell and the surrounding areas. We welcome collectors and players of all ages and experience levels. If you have an interest in any of the items we sell of games we play at the shop, we invite you to come pay us a visit. Nurturing new collectors and players is one of the points we pride our shop on the most.</p><br>
			<p>Not only is our collection of comics and cards for sale, but we also buy collections you may not want anymore. If you or anyone you know have old comics or cards that you are looking to sell, please bring them by! Russ, owner of Mill Geek Comics, will tell you what they are worth. He is always looking for exciting new items and will either trade, pay or provide store credit for things he is interested in.</p><br>
			<p>Russ and everyone that works here at the shop have been geeks their entire life! We celebrate all that is geek and are always eager to meet others that share our interests. Mill Geek Comics is a haven for geeks! Please come by the shop and see for yourself what an inviting place it is.</p><br>
			<p>Please get in touch with us if you have any questions about our events, buying or selling items. We always welcome your calls, emails, and shop visits. Don’t forget to ask about getting your very own subscription box with us!</p>
		</div>
	</section>
	<section>
		<a href="/" class='home'>
			<img src="homeImg.png" alt="">
		</a>
				<nav class='nav-menu' style="">
			<ul>
				<li>
					<a href="/">Home Page</a>
				</li>
				<li>
					<a href="{% url 'shop:product_list' %}">Shop</a>
				</li>
				<li>
					<a href="{% url 'cart:cart_detail' %}">Cart</a>
				</li>
			</ul>
		</nav>
	</section>
</body>
</html>