/*.grid-view {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: [head-col-start] 180px [content-col-start] 180px [content-col-mid] 180px [head-col-end];
	grid-template-rows: [head-row-start] auto [head-row-end] auto [content-row-end] auto [footer-row-end];
}

.header {
	grid-column: head-col-start / head-col-end;
	grid-row: head-row-start / head-row-end;
}

.contact-form {
	grid-column: head-col-start / content-col-start;
	grid-row: head-row-end / content-row-end;
}

.map {
	grid-column: content-col-start / head-col-end;
	grid-row: head-row-end / content-row-end;
}

.footer {
	grid-column: head-col-start / head-col-end;
	grid-row: content-row-end / footer-row-end;
}*/

.grid-view {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 180px 180px 180px;
	grid-template-areas: "header header header"
						 "content content form"
						 "content content form"
						 "footer footer footer";
}

.header {
	grid-area: header;
}

.map {
	grid-area: content;
}

.contact-form {
	grid-area: form;
}

.footer {
	grid-area: footer;
}