<html>
<head>
	<meta charset="UTF-8">
	<title>Mill Geek Comics</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">
	<script src="{% static 'js/contact.js' %}"></script>
	
</head>
<body>
	<h2>Contact Us</h2>
	<section class="header">
		<div class="nav">
			<a href="{% url 'home:index' %}"><button>Home</button></a>
			<a href="{% url 'shop:product_list' %}"><button>Shop</button></a>
			<a href="{% url 'cart:cart_detail' %}"><button>Cart</button></a>
			<a href="{% url 'events:event' %}"><button>Events</button></a>
			<a href="{% url 'events:calendar' %}"><button>Calendar</button></a>
		</div>
	</section>
	<section class="container">
			<div id="map"></div>
		
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtkvEAOY8CXn1JMbPqu3NZjzXOxqLoLK4&callback=initMap"></script>
		<acticle class="footer">
			<div id="footer">
				<p>Need help locating us?</p>
				<p>Give Us A Call At <span id="number">(425)415-6666</span></p>
				<p>We'll help guide you to our store</p>
			</div>
		</acticle>
	</section>
</body>
</html>

